{% load static %}
<html>
  <head>
    <title> {%block head_title %} Hospital El Pino {%endblock head_title%} </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- icono -->
    <link rel = "icon" href ="lista/static/logo_base.png">
</head>
<style type="text/css">
  body{
    background: #EFEDED;
  }
</style>

<body >
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="{% url 'dash' %}" style="color: white;margin-right:20px;"><img src="{% static 'logo.png'%}" width="50" style="margin-right:20px; margin-top: -10px;" >Portal Admin </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dash' %}" style="color: white;">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{% url "registro" %}' style="color: white;">Nuevo Usuario</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle "style="color: white;"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pacientes</a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{%  url 'listtutor' %}">Tutores</a>
            <a class="dropdown-item" href="{%url 'listpaciente' %}">Actuales</a>
            <a class="dropdown-item" href="{% url 'reingreso' %}">Antiguos<span class="sr-only">(current)</span></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'listenfermero' %}" style="color: white;">Especialistas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle "style="color: white;"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Visitas</a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href='{%  url "agendar_lista" %}'>Visitas</a>
            <a class="dropdown-item" href='{%  url "agendar_lista_hoy" %}'>Asginacion</a>
            <a class="dropdown-item" href="{% url 'tiempos'%}">Tiempo</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="{% url 'listar-equipo'%}"  style="color: white;" class="nav-link">Equipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'perfil_admin' %}" style="color: white;">Perfil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="{% url 'biblioteca'%}"  style="color: white;" class="nav-link">Bibliotecas</a>
        </li>
        <li class="nav-item" >
          <a href="{% url 'listconsulta'%}"  style="color: white;" class="nav-link">Contacto <span  style="visibility: hidden; z-index: 100;" class="badge  badge-pill badge-danger" id="Consulta"></span></a>      
        </li>
      </ul>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: 62%; position: absolute;">
        <li class="nav-item">
          <a  id="logout" href="{% url 'logout'%}"  style="color: white; " class="nav-link">Logout ({{ user }}) </a>
        </li>
        <li class="nav-item" style="margin-top: 5px; color: white; list-style-type: none;">
          <div class="row-inline" >
            <i class="fa fa-calendar fa-fw w3-margin-right" style="color: white;"></i>      
            <span id="date_time" style="font-size: 18px;"></span>
            <span id="hour" style="font-size: 18px;" ></span>
          </div>
        </li>
      </ul>
    </div>
  </nav>

<div class="container" >
  {%block content%}
  {%endblock%}
</div>

<!--botstrap js jquery-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script>
  window.onload=Consulta();
  function Consulta(){
    fetch('http://localhost:8000/dashboard/data/consulta')
    .then(res => res.json())
    .then(data => {
      consulta=document.getElementById("Consulta");
      consulta.innerHTML=data.consulta;  
    
      if (data.consulta == "0"){
        consulta.style.visibility="hidden";
      }
      else{
        consulta.style.visibility="visible";
      } 
    })
    setTimeout(Consulta,60000)
  };
 window.onload = date_time('date_time');
  function date_time(id){
    date = new Date;
    year = date.getFullYear();
    month = date.getMonth();
    months = new Array('Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Deciembre');
    d = date.getDate();
    day = date.getDay();
    days = new Array('Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado');
    h = date.getHours();
    if(h < 10){
      h = "0"+h;
    }
    m = date.getMinutes();
    if(m < 10){
      m = "0"+m;
    }
    s = date.getSeconds();
    if(s < 10){
      s = "0"+s;
    }
    result = ' '+d+' de '+months[month]+'  '+year+', ';
    document.getElementById(id).innerHTML = result;
    setTimeout('date_time("'+id+'");','1000');
    return true;
  }
  window.onload = hour('hour');
  function hour(id){
    h = date.getHours();
    if(h < 10){
      h = "0"+h;
    }
    m = date.getMinutes();
    if(m < 10){
      m = "0"+m;
    }
    s = date.getSeconds();
    if(s < 10){
      s = "0"+s;
    }
    result = h+':'+m;
    document.getElementById(id).innerHTML = result;
    setTimeout('hour("'+id+'");','1000');
    return true;      
  }
</script>
</body>
</html>